* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

/* header and navigation style */
.header {
    background-color: lightgrey;
    background-image: url(images/header_bg.png), url(images/developer.png);

    background-repeat: no-repeat;
    background-position: bottom right, left;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}

.text-primary {
    color: orange;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-left: 50px;
}

.btn-primary {
    height: 44px;
    padding: 15px 35px;
    border: 0;
    border-radius: 5px;
    background-color: orange;
}

.banner {
    display: flex;
    margin: 0 200px;
    align-items: center;
}

.banner-title {
    font-weight: 700;
    font-size: 85px;
}

.banner-sub-title {
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 20px;
}

.banner-discription {
    color: orange;
    font-size: 18px;
    margin-bottom: 30px;
}

/* main section */
section {
    margin-top: 130px;
}

main {
    max-width: 1140px;
    margin: 0 auto;
}

.about {

    border-radius: 10px;
    padding: 130px 150px;
}

.section-title {
    text-align: center;
    font-weight: 700;
    font-size: 35px;
    margin-bottom: 50px;

}

.section-discription {
    color: rgb(32, 221, 60);
    font-size: 18px;
    margin-bottom: 30px;
}

.about-info-container {
    display: flex;
    justify-content: space-around;
}

.about-info {}

.info-title {
    font: size 20px;

}

.info-style {
    font-weight: 700;
    font-size: 20px;
}

.what-i-do {}



.skills-container {
    display: flex;
    gap: 24px;
}

.skill-title {
    font-weight: 700;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.skill-description {
    color: brown;
}

.sobuj-content {
    display: flex;
    gap: 24px;
}

.sobuj-title {}

.sobuj-item {
    margin-top: 30px;
    margin-bottom: 30px;
}

.resume .title {
    font-weight: 700;
    font-size: 25px;
    color: lightcoral;
    margin-bottom: 10px;
}

.resume .sub-title {
    color: rgb(78, 78, 230);
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
}

.resume .description {
    color: blue;
}

.resume-button {
    margin-top: 50px;
    text-align: center;
}

.contact {
    display: flex;
    gap: 100px;
    background-color: aqua;
    padding: 130px 200px;
}

.contact .section-title {

    text-align: left;
}

.contact input,
textarea {
    margin-bottom: 24px;
    border: 0;
    width: 100%;
    padding: 18px 30px;

}